## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,50.00,66,20,4.61,few clouds
1,1,Port-Gentil,GA,-0.7193,8.7815,80.46,74,100,1.81,overcast clouds
2,2,Kralendijk,BQ,12.1500,-68.2667,78.80,78,75,13.80,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,80.11,73,8,11.52,light rain
4,4,Broome,US,42.2506,-75.8330,51.80,24,1,6.91,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 10
What is your maximum temperature preference?
max_temp: 15

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
46,46,Thompson,CA,55.7435,-97.8558,14.00,44,75,10.36,snow
53,53,Proletariy,RU,58.4342,31.7046,14.81,97,48,3.15,scattered clouds
65,65,Cherskiy,RU,68.7500,161.3000,11.77,59,100,5.21,overcast clouds
371,371,Noyabrsk,RU,63.1994,75.4507,10.45,97,98,11.07,overcast clouds
426,426,La Ronge,CA,55.1001,-105.2842,14.00,57,92,9.22,overcast clouds
543,543,Aksarka,RU,66.5606,67.7975,11.68,94,100,3.13,light snow
553,553,Salym,RU,60.0625,71.4789,13.48,96,93,6.11,overcast clouds
558,558,Ostrovnoy,RU,68.0531,39.5131,11.62,90,90,12.57,overcast clouds
598,598,Makinsk,KZ,52.6292,70.4169,14.36,94,100,3.69,overcast clouds
607,607,Paamiut,GL,61.9940,-49.6678,14.76,68,100,6.44,overcast clouds
632,632,Novoagansk,RU,61.9449,76.6625,14.09,95,98,6.22,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
46,46,Thompson,CA,55.7435,-97.8558,14.00,44,75,10.36,snow
53,53,Proletariy,RU,58.4342,31.7046,14.81,97,48,3.15,scattered clouds
65,65,Cherskiy,RU,68.7500,161.3000,11.77,59,100,5.21,overcast clouds
371,371,Noyabrsk,RU,63.1994,75.4507,10.45,97,98,11.07,overcast clouds
426,426,La Ronge,CA,55.1001,-105.2842,14.00,57,92,9.22,overcast clouds
543,543,Aksarka,RU,66.5606,67.7975,11.68,94,100,3.13,light snow
553,553,Salym,RU,60.0625,71.4789,13.48,96,93,6.11,overcast clouds
558,558,Ostrovnoy,RU,68.0531,39.5131,11.62,90,90,12.57,overcast clouds
598,598,Makinsk,KZ,52.6292,70.4169,14.36,94,100,3.69,overcast clouds
607,607,Paamiut,GL,61.9940,-49.6678,14.76,68,100,6.44,overcast clouds
632,632,Novoagansk,RU,61.9449,76.6625,14.09,95,98,6.22,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,Thompson,CA,14.00,snow,55.7435,-97.8558,
53,Proletariy,RU,14.81,scattered clouds,58.4342,31.7046,
65,Cherskiy,RU,11.77,overcast clouds,68.7500,161.3000,
371,Noyabrsk,RU,10.45,overcast clouds,63.1994,75.4507,
426,La Ronge,CA,14.00,overcast clouds,55.1001,-105.2842,
543,Aksarka,RU,11.68,light snow,66.5606,67.7975,
553,Salym,RU,13.48,overcast clouds,60.0625,71.4789,
558,Ostrovnoy,RU,11.62,overcast clouds,68.0531,39.5131,
598,Makinsk,KZ,14.36,overcast clouds,52.6292,70.4169,
607,Paamiut,GL,14.76,overcast clouds,61.9940,-49.6678,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotels_names = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean_hotels_names.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,Thompson,CA,14.00,snow,55.7435,-97.8558,Burntwood Hotel
53,Proletariy,RU,14.81,scattered clouds,58.4342,31.7046,Tri Kita Mihi-Hotel Bronnitsa
65,Cherskiy,RU,11.77,overcast clouds,68.7500,161.3000,Gostinitsa
371,Noyabrsk,RU,10.45,overcast clouds,63.1994,75.4507,Hotel Uyutnaya
426,La Ronge,CA,14.00,overcast clouds,55.1001,-105.2842,Northland Motor Hotel
553,Salym,RU,13.48,overcast clouds,60.0625,71.4789,Gostinitsa Salym
598,Makinsk,KZ,14.36,overcast clouds,52.6292,70.4169,Bereke
607,Paamiut,GL,14.76,overcast clouds,61.9940,-49.6678,Yeet Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))